
<div class="login-container">

  <h1>Login</h1>
    
  <div class="form-element-error" >
    <div class="mensagem">
      {{ mensagem }}
    </div>
  </div>

  <form (ngSubmit)="onLogin()" #formTemplate="ngForm" novalidate>

    <mat-form-field>
      <input matInput type="text" class="form-control" id="nomeUsuario" [(ngModel)]="usuario.nomeUsuario" name="nome-usuario" required
        #inputNomeUsuario="ngModel" placeholder="Nome de usuário">
        <mat-error>
          Digite o nome de usuário.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" class="form-control" id="senha" [(ngModel)]="usuario.senha" name="senha" required #inputSenha="ngModel"
        password placeholder="Senha">
      <mat-error>
        Digite a senha.
      </mat-error>
    </mat-form-field>
    
    <button mat-raised-button type="submit" color="primary" [disabled]="formTemplate.invalid">
      Entrar
    </button>

  </form>

</div>