<mat-toolbar color='primary'>
  <span>Cadastro de Usuário</span>
</mat-toolbar>

<div class='content'>

  <form class="form-horizontal mat-elevation-z8" #formTemplate="ngForm" (ngSubmit)="onSubmit(formTemplate)">

    <div class="col-12">
      <div>
        <mat-form-field>
          <input matInput type="text" class="form-control" id="nome" [ngModel]="usuario?.nome" name="nome" required #inputNome="ngModel"
            placeholder="Nome">
            <div class="form-element-error"  *ngIf="isCampoInvalido(inputNome)">
              Nome é <strong>obrigatório</strong>.
            </div>
          </mat-form-field>
      </div>
    </div>

    <div class="col-12">
      <div>
        <mat-form-field>
          <input matInput type="email" class="form-control" id="email" [ngModel]="usuario?.email" name="email" required email #inputEmail="ngModel"
            placeholder="E-mail">
            <div class="form-element-error" *ngIf="isCampoInvalido(inputEmail)">
              E-mail é <strong>obrigatório</strong>.
            </div>
            <div class="form-element-error" *ngIf="isCampoInvalido(inputEmail, 'email')">
              E-mail inválido.
            </div>
        </mat-form-field>
      </div>
    </div>

    <div class="col-6">
      <div>
        <mat-form-field>
          <input matInput type="text" class="form-control" id="nomeUsuario" [ngModel]="usuario?.nomeUsuario" name="nomeUsuario" required
            #inputNomeUsuario="ngModel" placeholder="Nome de usuário">
            <div class="form-element-error" *ngIf="isCampoInvalido(inputNomeUsuario)">
              Nome de usuário é <strong>obrigatório</strong>.
            </div>
        </mat-form-field>
      </div>
    </div>

    <div class="col-6">
      <div>
        <mat-form-field>
          <mat-select placeholder="Perfil" [ngModel]="usuario?.perfil" name="perfil" required #inputPerfil="ngModel">
            <mat-option *ngFor="let perfil of getPerfisUsuario()" [value]="perfil">
              {{ perfil | perfilUsuario }}
            </mat-option>
          </mat-select>
          <div class="form-element-error"  *ngIf="isCampoInvalido(inputPerfil)">
            Perfil é <strong>obrigatório</strong>.
          </div>
        </mat-form-field>
      </div>
    </div>

    <div class="col-6">
      <div>
        <mat-form-field>
          <input matInput type="password" class="form-control" id="senha" [ngModel]="usuario?.senha" name="senha" required #inputSenha="ngModel"
            password placeholder="Senha">
            <div class="form-element-error"  *ngIf="isCampoInvalido(inputSenha)">
              Senha é <strong>obrigatória</strong>.
            </div>
        </mat-form-field>
      </div>
    </div>

    <div class="col-6">
      <div>
        <mat-form-field>
          <input matInput type="password" class="form-control" id="senhaConfirm" [ngModel]="" name="senhaConfirm" required #inputSenhaConfirm="ngModel"
            password placeholder="Confirme a senha">
            <div class="form-element-error" *ngIf="isSenhaInvalida(inputSenha, inputSenhaConfirm)">
              Senhas não conferem.
            </div>
        </mat-form-field>
      </div>
    </div>

    <div class="footer">
      <button mat-raised-button type="submit" color="primary" [disabled]="formTemplate.invalid || isSenhaInvalida(inputSenha, inputSenhaConfirm)">
        Salvar
      </button>
    </div>

  </form>

</div>