/* Structure */
.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
  
.table-filter {
    min-height: 64px;
    padding: 8px 24px 0;
    background-color: white;
    border-bottom: 1px solid #ddd
}
  
.mat-form-field {
    padding-top: 5px;
    font-size: 14px;
    width: 100%;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}
